Source: ros-indigo-heron-viz
Section: misc
Priority: extra
Maintainer: Mike Purvis <mpurvis@clearpathrobotics.com>
Build-Depends: debhelper (>= 9.0.0), ros-indigo-catkin, ros-indigo-roslaunch
Homepage: 
Standards-Version: 3.9.2

Package: ros-indigo-heron-viz
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-indigo-heron-description, ros-indigo-joint-state-publisher, ros-indigo-rviz
Description: Visualization and rviz helpers for Heron.
