Source: ros-melodic-heron-viz
Section: misc
Priority: optional
Maintainer: Mike Purvis <mpurvis@clearpathrobotics.com>
Build-Depends: debhelper (>= 9.0.0), ros-melodic-catkin, ros-melodic-roslaunch
Homepage: 
Standards-Version: 3.9.2

Package: ros-melodic-heron-viz
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-melodic-heron-description, ros-melodic-joint-state-publisher, ros-melodic-rviz
Description: Visualization and rviz helpers for Heron.
